/02_code/web/eorder/.settings/*
/02_code/web/eorder/target
/02_code/web/eorder/.classpath
/02_code/web/eorder/.project
/02_code/web/eorder/.gitignore
/02_code/web/eorder-ws/.settings/*
/02_code/web/eorder-ws/target
/02_code/web/eorder-ws/.classpath
/02_code/web/eorder-ws/.project
/02_code/web/eorder-ws/.gitignore
/02_code/web/eorder_api/.settings/*
/02_code/web/eorder_ai/target
/02_code/web/eorder_api/.classpath
/02_code/web/eorder_api/.project
/02_code/web/eorder_api/.gitignore
/02_code/web/eorder-dish/.settings/*
/02_code/web/eorder-dish/target
/02_code/web/eorder-dish/.classpath
/02_code/web/eorder-dish/.project
/02_code/web/eorder-dish/.gitignore
/02_code/web/eorder-member/.settings/*
/02_code/web/eorder-member/target
/02_code/web/eorder-member/.classpath
/02_code/web/eorder-member/.project
/02_code/web/eorder-user/.settings/*
/02_code/web/eorder-user/target
/02_code/web/eorder-user/.classpath
/02_code/web/eorder-user/.project
