* {
	margin: 0;
	padding: 0;
	list-style: none;
}

html, body {
	height: 100%;
	overflow: hidden;
}
/*reset panel posotion*/
.panel {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	z-index: 1;
}

.top {
	height: 88px;
	background-color: #ccc;
}

.left {
	top: 88px;
	bottom: 50px;
	width: 187px;
	background-color: #eee;
}

.main {
	left: 187px;
	top: 88px;
	bottom: 0px; /* 取决于bottom， 如果没有bottom，则设置为0px */
	/*background-color: #f5f5f5;*/
}

.bottom {
	top: auto;
	height: 50px;
	background-color: #ccc;
}

.panel iframe {
	width: 100%;
	height: 100%;
}

/* class for hide top*/
.hidetop .top {
	display: none;
}

.hidetop .left, .hidetop .main {
	top: 0px;
}

/* class for hide bottom*/
.hidebottom .bottom {
	display: none;
}

.hidebottom .left, .hidebottom .main {
	bottom: 0px;
}

/*class for hide left*/
.hideleft .left {
	display: none;
}

.hideleft .main {
	left: 0px;
}

/* HACK:*IE6/7 _IE6*/
html {
	*padding: 50px 0px 50px 0px;
}

.panel {
	*position: relative;
}

.top {
	*margin-top: -50px;
	*margin-bottom: 0px;
	background: url(../images/topbg.gif) repeat-x;
}

.left {
	*height: 100%;
	*float: left;
	*top: 0px;
}

.main {
	*height: 100%;
	*top: 0;
	*left: 0px;
	_left: -3px;
} /*IE 6 float 3px bug*/
.hidetop {
	*padding-top: 0px;
}

.hidebottom {
	*padding-bottom: 0px;
}

.hideleft {
	*padding-left: 0px;
}

.operatemessage {
	float: left;
	width: 408px;
	height: 20px;
	padding: 5px;
	margin-left: 5px;
	font-size: 14px;
	font-weight: bold;
	color: #F00;
	font-weight: bold;
	vertical-align: center;
}

.rightinfo {
	width: 100%;
}

.twoinput {
	width: 35px;
	height: 30px;
	line-height: 33px;
	border-top: solid 1px #a7b5bc;
	border-left: solid 1px #a7b5bc;
	border-right: solid 1px #ced9df;
	border-bottom: solid 1px #ced9df;
	background: url(../images/inputbg.gif) repeat-x;
	text-indent: 10px;
}

.tablePanel {
	width:70%;
	float:left;
}

.msgPanel {
	width : 20%;
	margin-right:55px;
	float: right;
  	height: 120px;
  	color: red;
  	font-weight: bold;
  	font-size : 15px
}