@charset "utf-8";
/* CSS Document */

#banner{
    width:100%;
    height:64px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
#banner{
    background-image: url(../../resources/image/top-right.gif);
    background-repeat: repeat-x;
}
#banner td{height:64px;}
#banner image{ width:262px; height:64px;}
#banner_right_content{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #FFFFFF;
    float:right;
    }
#banner_right_content{
    width:60%;
    line-height: 38px;
    margin-right:20px;
    }
#banner_right_content td{
    padding:0 10;
    vertical-align:top;
    }
#banner_right_content a{
    font-size: 12px;
    color: #CBE0F3;
    text-decoration: none;
    padding:0 5px;
    font-weight:bolder;
}

.admin_txt {    
    text-decoration: none;
    height: 38px;
    width: 100%;
    position: static;
    line-height: 38px;
}
