@charset "utf-8";
/* CSS Document */

body{
	margin:0px;
	padding:0px;
	background-color: #EEF2FB;
	font:12px Arial, Helvetica, sans-serif;
}

/*#top{width:990px; margin:0 auto;}
#left{width:200px; margin:0 auto;}
#right-title{width:790px; margin:0 auto;}
#right{width:790px; margin:0 auto;}
#bottom{width:990px; margin:0 auto;}*/