@charset "utf-8";
/* CSS Document */

#bottom{
	width:100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	}
#bottom{
	background-image:url(../../resources/image/login-buttom-bg.gif);
	background-repeat: repeat-x;
	}
#bottom span{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #ABCAD3;
	text-decoration: none;
	line-height: 20px;
}

