<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/tx    http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
http://www.springframework.org/schema/aop   http://www.springframework.org/schema/aop/spring-aop-3.0.xsd"
	default-autowire="byName">

	<bean id="baseDAO" class="com.innovaee.eorder.module.dao.BaseDao" abstract="true">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="roleFunctionDao" class="com.innovaee.eorder.module.dao.RoleFunctionDao" parent="baseDAO" />
	<bean id="functionDao" class="com.innovaee.eorder.module.dao.FunctionDao"
		parent="baseDAO" />
	<bean id="roleDao" class="com.innovaee.eorder.module.dao.RoleDao" parent="baseDAO" />
	<bean id="userDao" class="com.innovaee.eorder.module.dao.UserDao" parent="baseDAO" />
	<bean id="userRoleDao" class="com.innovaee.eorder.module.dao.UserRoleDao"
		parent="baseDAO" />

</beans>