@charset "utf-8";
/* CSS Document */

.STYLE1 {
    font-size: 12px;
}
.STYLE3 {
    font-size: 12px;
    font-weight: bold;
}
.STYLE4 {
    font-size: 12px;
    color: #1F4A65;
    font-weight: bold;
}

a:link {
    font-size: 12px;
    color: #06482a;
    text-decoration: none;

}
a:visited {
    font-size: 12px;
    color: #06482a;
    text-decoration: none;
}
a:hover {
    font-size: 12px;
    color: #FF0000;
    text-decoration: underline;
}
a:active {
    font-size: 12px;
    color: #FF0000;
    text-decoration: none;
}
